{% load static %}

<html>
    <head>
        <Title>Mukbang Tour</Title>
        <link rel="shortcut icon" href="static/img/favicon.ico">
        <link rel="stylesheet" href="{% static 'css/board.css' %}">
        <link href="https://fonts.googleapis.com/css?family=East+Sea+Dokdo" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
    </head>
    <body>
        <div class="page-header1">
            {% if user.is_authenticated %}
                <p class="logout">Hello, {{ user.username }}! <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
                <p class="navi">
                    <a href="{% url 'post_new' %}">Post</a>
                    <a href="{% url 'post_draft' %}">Draft</a>
                </p>
            {% else %}
                <a href="{% url 'login' %}" class="login">Login</a>
            {% endif %}
        </div>
        <div class="page-header2">
            <h1><a href="{% url 'post_list' %}">먹방 투어</a></h1>
            <h2>Mukbang Tour</h2>
        </div>
        <div class="cont">
            {% block content %}
            {% endblock %}
        </div>


    </body>

</html>


